###################################
# typography
###################################

TypographyTestPage:
  css_folder: "themes/mytheme/css"
  include_first_heading_in_test_copy: false

###################################
###################################
